.custom-img-size {
    height: 5%;
    width: auto;
    
    object-fit: cover;
}

body {
    /* Establecer un color de fondo para el body */
    background-color: #f8f9fa;
}


.h1{
    /* Alinear al centro todos los h1*/
    text-align: center;
}

.card {
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
}

.cardJob:hover,
.cardEducation:hover {
    box-shadow: 2px 2px 3px 3px rgba(0, 0, 0, 0.3);
}

.job {
    text-align: center;
    color: rgb(80, 80, 80);
    font-size: 1rem;
    font-weight: bold;
}

.aboutMeText {
    background-color: #FFFFFF;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
}

.col.aboutMeText p {
    max-width: 600px; 
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
}

    /* Estilos para las imágenes en la tabla */
    .table-img {
        max-width: 150px;
        max-height: 150px;
    }

    /* Ajustar tamaño de celdas de la tabla */
    .table td,
    .table th {
        vertical-align: middle;
        text-align: center;
    }

    .btn-cv a {
        /* Letras en blanco */
        color: #fff;          
        /* Sin subrayado */
        text-decoration: none; 
    }


    /*Animacion imagenes*/
    .img-responsive {
        transition: transform 0.3s;
    }

    /*Aumenta el tamanio de la imagen*/
    .img-responsive:hover {
        transform: scale(1.1);
    }


    /*Contacto*/
.contact__container {
    row-gap: 3rem;
}

.contact__information {
    display: flex;
    margin-bottom: var(--mb-2);
}

.contact__icon {
    font-size: 1.5rem;
    color: var(--first-color);
    margin-right: var(--mb-0-75);
}

.contact__title {
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
}

.contact__subtitle {
    font-size: var(--small-font-size);
    color: var(--text-color-light);
}

.contact__content {
    background-color: var(--input-color);
}

.contact__label {
    font-size: var(--smaller-font-size);
    color: var(--title-color);
    margin-left: 1rem;
}

.contact__input {
    width: 100%;
    background-color: var(--input-color);
    color: var(--text-color);
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    border: none;
    outline: none;
    padding: .25rem .5rem .5rem 1rem;
}

.warning__information {
    display: flex;
    margin-bottom: 0;
    background-color: var(--body-color);
}

.warning__icon {
    font-size: var(--small-font-size);
    color: red;
}

#btnSend:active {
    font-size: 1rem;
}

/*PROJECT*/
.oval-background {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 30%;
    padding: 20px;
}

.project-text {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 20px;
    border-radius: 10px;
    margin-top: 10px;
}
/*
@media (max-width: 767px) {
    .project-text {
        position: static;
        width: 100%;
        border-radius: 0;
        transform: none;
        margin-top: 10px;
    }
}*/